@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 27 88% 53%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 251 51% 38%;
    --secondary-foreground: 60 9.1% 97.8%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --ring: 27 88% 53%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 40% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 40% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 40% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;

    --primary: 27 88% 53%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 251 51% 38%;
    --secondary-foreground: 60 9.1% 97.8%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --ring: 27 88% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}

@layer base {
  .rich-content {
    @apply text-brand-accent text-sm leading-relaxed;
  }

  .rich-content p {
    margin-bottom: 1rem;
  }

  .rich-content ul {
    @apply list-disc pl-5;
  }

  .rich-content ol {
    @apply list-decimal pl-5;
  }

  .rich-content table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5rem 0;
    font-size: 0.95rem;
  }

  .rich-content th,
  .rich-content td {
    border: 1px solid rgb(209 213 219);
    padding: 0.5rem 0.75rem;
    text-align: left;
    vertical-align: top;
  }

  .rich-content th {
    background-color: rgba(63, 48, 145, 0.05);
    font-weight: 600;
  }

  .rich-content img {
    max-width: 100%;
    height: auto;
    border-radius: 0.75rem;
    margin: 1rem 0;
  }

  .rich-content--secondary {
    color: rgb(79 70 229 / 0.7);
  }
}

